pkgbase = bigorange-bin
	pkgdesc = Lyrics Reimagine desktop app packaged from prebuilt releases
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/littleflit/BigOrange
	arch = x86_64
	license = AGPL
	depends = alsa-lib
	depends = gtk3
	depends = libxss
	depends = nss
	optdepends = xdg-utils: desktop integration helpers
	provides = bigorange
	conflicts = bigorange
	source = https://github.com/littleflit/BigOrange/releases/download/v0.1.4/bigorange-0.1.4-linux-x64.tar.gz
	source = bigorange.desktop
	source = bigorange.png
	sha256sums = SKIP
	sha256sums = 04bb4088a50234bef6b7b9a0236cffa51b7638454c01f1932439faa0b8c344c4
	sha256sums = cffe4a4fe5608706e2522de3b4cd8cc174357a9310493f107553794831312054

pkgname = bigorange-bin
